<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>爱美食</title>
    <link rel="stylesheet" href="love-food.css">
</head>
<body>
<!--header-->
<header>
    <div class="header">
    <div class="header-left">
        <div class="font">注册</div>
        <div class="line">|</div>
        <div class="font">登录</div>
    </div>
    <div class="header-center">
        <a href=""><span class="icon icon1"></span></a>
        <div class="font font1">爱美食</div>
    </div>
    <div class="header-right">
        <div class="search">
        <span class="icon icon2"></span>
        </div>
        <span class="icon icon3"></span>
        <div class="font font2">加入购物车</div>
    </div>
    </div>
</header>
<!--content-->
<div class="screen1">
    <div class="content">
        <div class="nav">
            <div class="nav-bar1">首页</div>
            <div class="nav-bar2">关于我们</div>
            <div class="nav-bar2">我们的菜单</div>
            <div class="nav-bar2">我们的文化</div>
            <div class="nav-bar2">加入我们</div>
            <div class="nav-bar3">联系方式</div>
        </div>
        <div class="logo">
            <div class="log"></div>
            <div class="collect">喜欢收藏</div>
            <div class="advertisement">spicy,tasty&delicious always!</div>
            <div class="suggest">给我们建议</div>
        </div>
        <div class="popularize">
            <div class="new">
                <div class="ico">
                    <span class="icon icon4"></span>
                    <div class="name">新菜</div>
                </div>
                <div class="article">
                    <p>采用来自贵州新鲜无公害蔬菜花果经多重清洗程序，确保广大用户饮食安全，经来自意大利厨师亲手制作，味道美味可口让您尽享美食。</p>
                </div>
            </div>
            <div class="new">
                <div class="ico">
                    <span class="icon icon5"></span>
                    <div class="name">推广</div>
                </div>
                <div class="article">
                    <p>采用来自贵州新鲜无公害蔬菜花果经多重清洗程序，确保广大用户饮食安全，经来自意大利厨师亲手制作，味道美味可口让您尽享美食。</p>
                </div>
            </div>
            <div class="new">
                <div class="ico">
                    <span class="icon icon6"></span>
                    <div class="name name1">特别优惠</div>
                </div>
                <div class="article">
                    <p>采用来自贵州新鲜无公害蔬菜花果经多重清洗程序，确保广大用户饮食安全，经来自意大利厨师亲手制作，味道美味可口让您尽享美食。</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--screen2-->
<div class="screen2">
    <div class="section">
        <div class="send">
            <div class="thanks">特殊感谢</div>
            <div class="under-line"></div>
            <div class="words"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;为感谢全国用户多年来对我们的大力支持，我们特别推出一系列特色美食，以优惠的价格回顾顾客，让顾客可以少花钱，多享受，轻松快乐的体验美食带来的乐趣。为感谢全国用户多年来对我们的大力支持，我们特别推出一系列特色美食，以优惠的价格回顾顾客，让顾客可以少花钱，多享受，轻松快乐的体验美食带来的乐趣。</p></div>
        </div>
        <div class="food">
            <div class="food1">
                <div class="icon7"><img src="/box/views/fireworks/love-food/love_food_pic1-r1.png" alt="1"></div>
                <div class="icon8"><img src="/box/views/fireworks/love-food/love_food_pic2.png" alt="2"></div>
                <div class="icon9"><img src="/box/views/fireworks/love-food/love_food_pic3.png" alt="3"></div>
            </div>
            <div class="food2">
                <div class="icon10"><img src="/box/views/fireworks/love-food/love_food_pic4.png" alt="4"></div>
                <div class="icon11"><img src="/box/views/fireworks/love-food/love_food_pic5.png" alt="5"></div>
                <div class="icon12"><img src="/box/views/fireworks/love-food/love_food_pic6.png" alt="6"></div>
            </div>
        </div>
    </div>
</div>
<!--screen3-->
<div class="screen3">
    <div class="text">
        <div class="left"><img src="/box/views/fireworks/love-food/love_food_pic7.png" alt="7"></div>
        <div class="right">
            <div class="dishes">精细的沙漠</div>
            <div class="under"></div>
            <div class="remind">好的事物能够保持你的健康</div>
            <div class="introduce"><p>&nbsp;&nbsp;&nbsp;&nbsp;采用来自贵州新鲜无公害蔬菜花果经多重清洗程序，确保广大用户饮食安全，经来自意大利厨师亲手制作味道美味可口让您尽享美食。采用来自贵州新鲜无公害蔬菜花果经多重清洗程序，确保广大用户饮食安全，经来自意大利厨师亲手制作，味道美味可口让您尽享美食。
                采用来自贵州新鲜无公害蔬菜花果经多重清洗程序，确保广大用户饮食安全，经来自意大利厨师亲手制作味道美味可口让您尽享美食。采用来自贵州新鲜无公害蔬菜花果经多重清洗程序，确保广大用户饮食安全，经来自意大利厨师亲手制作，味道美味可口让您尽享美食。</p></div>
        </div>
    </div>
</div>
<!--screen4-->
<div class="screen4">
    <div class="canister1">
        <div class="title">
            <div class="caption">美味的食物</div>
            <div class="under1"></div>
        </div>
        <div class="food-pic">
            <div class="food-picture">
                <div class="food-name">
                    <div class="food-names">特殊面食</div>
                </div>
                <div class="icon13"><img src="/box/views/fireworks/love-food/love_food_pic8.png" alt="8"></div>
                <div class="food-intro">
                    <p>  来自全国优质小麦产区河南小麦，经来自意大利厨师亲手制作，味道美味可口让您尽享美食。</p>
                </div>
                <div class="more">+更多</div>
            </div>
            <div class="food-picture1">
                <div class="food-name">
                    <div class="food-names">水果冰镇</div>
                </div>
                <div class="icon13"><img src="/box/views/fireworks/love-food/love_food_pic9.png" alt="9"></div>
                <div class="food-intro">
                    <p>采用新鲜水果切片，上好冰块配合其他优质原料经料理大师之手，让您体验不一样的感觉。美味可口让您尽享美食</p>
                </div>
                <div class="more">+更多</div>
            </div>
            <div class="food-picture1">
                <div class="food-name">
                    <div class="food-names">香肠料理</div>
                </div>
                <div class="icon13"><img src="/box/views/fireworks/love-food/love_food_pic10.png" alt="10"></div>
                <div class="food-intro">
                    <p>采用来自贵州新鲜无公害蔬菜花果经多重清洗程序，确保广大用户饮食安全，经来自意大利厨师亲手制作，味道美味可口让您尽享美食</p>
                </div>
                <div class="more">+更多</div>
            </div>
            <div class="food-picture1">
                <div class="food-name">
                    <div class="food-names">天甜椒理</div>
                </div>
                <div class="icon13"><img src="/box/views/fireworks/love-food/love_food_pic11.png" alt="11"></div>
                <div class="food-intro">
                    <p> 采用来自贵州新鲜无公害蔬菜花果经多重清洗程序，确保广大用户饮食安全，经来自意大利厨师亲手制作．味道美味可口让您尽享美食</p>
                </div>
                <div class="more">+更多</div>
            </div>
        </div>
    </div>
</div>
<!--screen5-->
<div class="screen5">
    <div class="rest">
        <div class="pizza">
            <div class="h4">关于必胜客</div>
            <ul>
                <li>品牌介绍</li>
                <li>新闻中心</li>
                <li>企业</li>
            </ul>
        </div>
        <div class="menu">
            <div class="h4">美味菜单</div>
            <ul>
                <li>新品推荐</li>
                <li>休闲早餐</li>
                <li>工作日特惠午餐</li>
                <li>轻松下午茶</li>
                <li>欢乐夜宵</li>
            </ul>
            <div class="h4">儿童菜单</div>
        </div>
        <div class="us">
            <div class="h4">关注我们</div>
            <ul>
                <li>下载APP</li>
                <li>官方微信</li>
                <li>新浪微博</li>
                <li>腾讯微博</li>
                <li>人人网</li>
            </ul>
        </div>
        <div class="law">
            <div class="h4">法律/隐私条款</div>
            <ul>
                <li>法律条款</li>
                <li>隐私权声明</li>
            </ul>
        </div>
        <div class="relevance">
            <div class="h4">其他品牌网站</div>
            <ul>
                <li>中国百胜</li>
                <li>中国肯德基</li>
                <li>东方既白</li>
                <li>小肥羊</li>
                <li>肯德基宅急送</li>
            </ul>
            <div class="h4">必胜宅急送</div>
        </div>
        <span class="top"></span>
    </div>
</div>
<footer>
    <div class="footer">
        <div class="company">版权所有 百胜（中国）投资有限公司 沪ICP备05031779号</div>
    </div>
    <div class="ss">
        <span class="span span1"></span>
        <span class="span span2"></span>
        <span class="span span3"></span>
        <span class="span span4"></span>
        <span class="span span5"></span>
        <span class="span span6"></span>
    </div>
</footer>
</body>
</html>