
.box{
    width:60%;
    height:40em;
    border: 1px black solid;
    display: flex;
    align-content: flex-start;
    flex-wrap:wrap;
}
.box0{
    width:9em;
    height:30%;
    margin:1%;
    border: 4px black solid;
    border-radius:10px;
    display: flex;
}
.item{
    width:30%;
    height:25%;
    margin:0.5em 0.5em;
    border: 1px red solid;
    background-color: red;
    border-radius:50%;
}
.box1{
    justify-content: center;
    align-items: center;
}
.box1 .dot1{
    width: 60%;
    height: 45%;
}
.box2{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box3{
    flex-direction:column;
    align-items: center;
}
.box3 .dot1{
    align-self: flex-start;
}
.box3 .dot3{
    align-self: flex-end;
}
.box4{
    flex-wrap: wrap;
    align-content:space-around;
    justify-content: center;
}
.box5,.box6,.box7,.box8,.box9{
    display: flex;
    flex-wrap:wrap;
    align-items:center;
    align-content: space-around;
}
.canister{
    display: flex;
    width:100%;
    height: 30%;
    justify-content: center;
}
.canister .item{
    height: 70%;
}
.box7 .canister1{
    display: flex;
    width:100%;
    height:50%;
    flex-direction: column;
    align-items: center;
}
.box7 .canister1 .item{
    height:70%;
    width: 25%;
    margin:0 0.5em;
}
.box7 .dot1{
    align-self: flex-start;
}
.box7 .dot3{
    align-self: flex-end;
}

.box7 .canister2{
    display: flex;
    width:100%;
    height:25%;
    justify-content: center;
}
.box7 .canister2 .item{
    height: 70%;
    width: 25%;
    margin:0.5em 1em;
}
.box8 .canister{
    display: flex;
    width:100%;
    height: 20%;
    justify-content: center;
}
.box8 .canister .item{
    height: 100%;
    width: 30%;
    margin:0em 0.5em;
}
.box9 .canister .item{
    height: 70%;
    width: 28%;
    margin:0.5em 0.2em;
}